/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.heading-h1 {
  font-size: 28px;
  font-weight: 500;
}
 .default-btn{
   color: #ffffff;
   background-color: #56BAB0;
   border: 1pc solid;
    border-radius: 25px;
    padding: 10px;
 }
  input{
       border: 0px;
       margin-right: 10px;
 }
  .input{
       border-bottom: 1px solid #B9BBBD;
 }
 .error{
   color: red;
 }
 .user-list input:checked{
  color: #56BAB0;
  background-color: #56BAB0;
 }
 .label-btn{
  margin-right: 30px;
 }
